.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: 50px;
  letter-spacing: 0.9rem;
  color: aliceblue;
  background-image: linear-gradient(
    to bottom right,
    #221d93 0%,
    #4958ab 30%,
    #91ced8 100%
  );
}
