.main {
  padding: 6rem;
  min-height: 100vh;
  color: aliceblue;
  background-image: linear-gradient(
    to bottom right,
    #221d93 0%,
    #4958ab 30%,
    #91ced8 100%
  );
}
.main h1 {
  margin-bottom: 3rem;
  font-size: 50px;
  letter-spacing: 0.9rem;
}
.main p {
  font-size: 18px;
  letter-spacing: 0.1rem;
}
